* {
    font-family: 'Coming Soon', cursive;
}

.containerLogin {
    width: 100%;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.containerLogin h2{
    margin: 0;
    padding: 0;
    color: bisque;
    font-size: 2em;
    margin-bottom: 0.5em;
}

.information {
    font-weight: 700;
    margin-bottom: 1em;
}

.adds {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

