.containerBtn {
    display: flex;
    width: 100%;
}

button {
    width: 100%;
    border-radius: 0.5em;
    height: 3em;
    font-family: 'Coming Soon', cursive;
    font-weight: bold;
    font-size: large;
    cursor: pointer;
    margin-top: 1em;
    border: none;
    color: #840062;
    transition: 1s;
}

button:hover {
    color: #000;
}